<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="\css\styles-footer.css"> 
   <title>Document</title>
</head>
<body>
   <div class="flex-footer">
      <section class="footer-element">
          <ifoot class="fas fa-credit-card"></ifoot>
      
          <h3>Pagá con tarjeta o en efectivo</h3>
      
          <p class="textos">
              Con Deco House Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
      </section>

      <section class="footer-element">
          <ifoot class="fas fa-gift"></ifoot>
          
          <h3>Envío gratis desde $ 2.500</h3>
      
          <p class="textos">
              Solo por estar registrad@ en Deco House tenés envíos gratis en miles deproductos. 
          </p>
      </section>

      <section class="footer-element">
          <ifoot class="fas fa-user-shield"></ifoot>
      
          <h3>Seguridad, de principio a fin</h3>
      
          <p class="textos">
              ¿No te gusta? ¡Devolvelo! En Deco House, no hay nada que no puedas hacer, porque estás siempre protegid@.
          </p>
      </section>
  </div>

  <section>
      <h3 class="copy">Copyright © 1999-2022 Deco Hogar S.R.L.</h3>
  </section>
</body>
</html>