<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <script src="https://kit.fontawesome.com/5d251886e4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="\css\styles-footer.css">
  <title>Document</title>
</head>
<footer class="site-footer">
  <div class="container-text">
    <div class="about-us">
        <a href="/"> <img src="/images/LogoDH.png" class="logo-footer"> </a>
       <p>
        Somos Deco Hogar, una empresa familiar creada en 1998 que se dedica a la creacion de muebles premiun y con una
        atencion al cliente especializada para cada uno.
       </p>
    </div>
    <div class="help">
      <h4>Ayuda</h4>
      <a href="">Preguntas Frecuentes</a>
      <a href="">Envios</a>
      <a href="">Devoluciones y Reembolsos</a>
    </div>
    <div class="legal-info">
      <h4>Información Legal</h4>
      <a href="">Politica Privacidad</a>
      <a href="">Terminos y Condiciones</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Deco Hogar</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>