<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\styles-header.css">
    <title>Header</title>
</head>

<body>

    <div class="main-header-top-bar">

        <a href="/"> <img src="/images/LogoDH.png" class="logo"> </a>

        <form class="form" action="/p/api/products" method="GET">
            <input class="searcher" placeholder="Buscar productos" name="search" />
            <button class="submit"><i class="fa fa-search"></i></button>
        </form>

        <ul class="user-navbar">
            <% if(locals.isLogged) { %>
                <a href="/u/profile"><img src="<%= locals.loggedUser.avatar%>" alt="" class="user-image"></a>
                
                <a href="/u/profile">
                <li style="display:flex;align-items: center;">
                    <%= locals.loggedUser.firstname%>
                        <%= locals.loggedUser.lastname%>
                </li>
                </a>
                <% } else { %>
                    <li><a href="/u/login">Ingresá</a></li>
                    <li><a href="/u/register">Registrate </a></li>
                <% } %>
                
        </ul>


        <a href="/p/productCart">
            <div class="shop-cart">
                <i class="fas fa-shopping-cart"></i>
                <div class="cart-word">Carrito</div>
                <div class="cart-number badge">0</div>
            </div>
        </a>

        <div class="mobile-header">
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </div>

</body>

</html>

<script src="/js/script-home-shop-cart.js"></script>