<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Header</title>
</head>
<body>
            
      <div class="main-header-top-bar">
          
          <a href="/"> <img src="images/logoDH.png" class="logo"> </a>
         
          <div class="form" action="#" method="GET">
              <input class="searcher" placeholder=" Buscardor..."/>
              <button class="submit"><i class="fa fa-search"></i></button>
          </div>
          
          <div class="mobile-header">
              <a href="#" class="hamburger-button">
                  <i class="fas fa-bars"></i>
              </a>   

              <a href="/productCart" class="shop-cart">
                  <i class="fas fa-cart-plus"></i>
              </a>
          </div>

      </div> 

      <div class="main-navbar">
          <ul class="left-navbar">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Categorias</a></li>    
              <li><a href="#">Ayuda</a></li>
          </ul>
          
          <ul class="right-navbar">
              <li><a href="/login">Ingresá</a></li>
              <li><a href="/register">Registrate</a></li>    
          </ul>
      </div>

  
</body>
</html>