<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesLogin.css">
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>

        <form id="form" class="login" action="/api/products" method="POST">
            <labbel>Nombre del Producto:</labbel>
            <input class="borde" type="text" name="name" placeholder="Nombre del Producto"  >
            <labbel>Descripción</labbel>
            <input class="borde" type="text" name="description" placeholder="Descripción"  >
            <labbel>Imagen</labbel>
            <input id="imagen" class="borde" type="file" name="image" placeholder="Imagen"  multiple > <!-- TODO habria q poner imagenes 2 3 4 para mostrar en el detalle -->
            <labbel>Categoría</labbel>
            <select class="borde" name="category"  >
                <option value="1">Silla</option>
                <option value="2">Mesa</option>
                <option value="3">Cama</option>
            </select>
            <labbel>Color</labbel>
            <select class="borde" name="colors" >
                <option value="1">Madera</option>
                <option value="2">Piedra</option>
                <option value="3">Negro</option>
                <option value="4">Blanco</option>
            </select>    
            <labbel>Precio</labbel>
            <input class="borde" type="text" name="price" placeholder="Precio"  >
            <labbel>Dimensiones en formato: Alto x Ancho x Profundidad</labbel>
            <input class="borde" type="text" name="dimensions" placeholder="Dimensiones"  >
            <labbel>Materiales</labbel>
            <select class="borde" name="materials"  >
                <option value="1">Madera</option>
                <option value="2">Piedra</option>
                <option value="3">Vidrio</option>
                <option value="4">Metal</option>
            </select> 
            <button class="boton-entrar" type="sumit">Crear producto</button>
        </form>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

<script type="text/javascript">
</script>

</html>