<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesLogin.css">
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>

        <form id="form" class="login" action="/api/products" method="POST">
            <h2>Nombre del Producto</h2>
            <input class="borde" type="text" name="name" placeholder="Nombre del Producto" required>
            <h2>Descripción</h2>
            <input class="borde" type="text" name="description" placeholder="Descripción" required>
            <h2>Imagen</h2>
            <input id="imagen" class="borde" type="file" name="image" placeholder="Imagen" required>
            <h2>Categoría</h2>
            <input class="borde" type="text" name="category" placeholder="Categoría" required>
            <h2>Colores</h2>
            <input class="borde" type="text" name="colors" placeholder="Colores" required>
            <h2>Precio</h2>
            <input class="borde" type="text" name="price" placeholder="Precio" required>
            <h2>Dimensiones</h2>
            <input class="borde" type="text" name="dimensions" placeholder="Precio" required>
            <h2>Materiales</h2>
            <input class="borde" type="text" name="materials" placeholder="Precio" required>
            <!-- <select>
            </select> -->
            <button class="boton-entrar" type="sumit">Buscar</button>
        </form>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

<script type="text/javascript">
</script>

</html>