<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesLogin.css">
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>

        <form class="login" action="/login" method="POST">
            <h2>Ingresá a tu cuenta</h2>
            <input class="borde" type="text" name="usuario" placeholder="E-mail o usuario" required>
            <input class="borde" type="password" name="contraseña" placeholder="Contraseña" required minlength="4">
            <div>
                <input type="checkbox" id="usuario-contraseña" name="usuario-contraseña">
                <label for="usuario-contraseña">Recordar usuario y contraseña</label>
            </div>
            <a href="#">Olvidaste tu contraseña</a>
            <button class="boton-entrar" type="sumit">Entrar</button>
            <button class="boton-cuenta" type="sumit">Crear cuenta</button>
        </form>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>