<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesLogin.css">
        <script src="/js/login-validation.js" ></script>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main class="main-conteiner">

        <form method="POST" id="login-form" class="login-form" autocomplete="off" action="/u/api/users/login">
            <h1 class="a11y-hidden">Login Form</h1>
            <div>
                <label class="label-email">
                    <input type="email" class="text " name="email" id="email" placeholder="Email" tabindex="1"  />
                    <span class="required"> Email</span>
                    <% if (errors) { %>
                        <p class="mensaje-error" style="color: red;"><%= errors.mail.msg %> </p> 
                    <% } %>   
                </label>
                <div class="email-error"></div>
            </div>
            <div>
                <input type="checkbox" name="rememberMe"  class="show-password a11y-hidden" id="rememberMe" tabindex="3"/>
                <label for="rememberMe" class="label-show-password to-left">
                    <span >Remember email</span>
                </label>
            </div>
            <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
            <label class="label-show-password to-left" for="show-password" >
                <span>Show Password</span>
            </label>
            <div>
                <label class="label-password">
                    <span class="required">Password</span>
                    <input type="text" class="text" id="password" name="password" placeholder="Password" tabindex="2"  />
                    
                </label>
                <div class="password-error"></div>
            </div>
            <input type="submit" class="text"id="login-button" value="Log In" />     
              
                <a href="#" class="email">Olvidaste tu contraseña?</a>           
                <a href="/u/register" class="email">No estas registrado? Crea tu cuenta aquí</a>
            
            <figure aria-hidden="true">
                <div class="person-body"></div>
                <div class="neck skin"></div>
                <div class="head skin">
                    <div class="eyes"></div>
                    <div class="mouth"></div>
                </div>
                <div class="hair"></div>
                <div class="ears"></div>
                <div class="shirt-1"></div>
                <div class="shirt-2"></div>
            </figure>
        </form>

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>

