<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesCarrito.css">
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div >
            <h2 class="main-title">Productos en el carrito de <%= locals.loggedUser.firstname%>
            </h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="cartRows">
                    <% if (true) { %>
                    <% }%>
                </tbody>
                
            </table>
            <div class="card-footer">
                <h2>Total: <span class="totalAmount">$ 0</span></h2>
            </div>

            <form class="card-body" id="checkoutCart">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Tipo de Envio</th>
                            <th>Medio de Pago</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <select id="shippingMethod" name=" shippingMethod" required="" class="selectBtn">
                                    <option value="">Elegir...</option>
                                    <option value="Cadete">Cadete</option>
                                    <option value="Correo">Correo Argentino</option>
                                    <option value="Andreani">Andreani</option>
                                    <option value="DHL">DHL</option>
                                </select>
                            </td>
                            <td>
                                <select id="paymentMethod" name="paymentMethod" required="" class="selectBtn">
                                    <option value="">Elegir...</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="Débito">Tarjeta Débito</option>
                                    <option value="Crédito">Tarjeta Crédito</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="buyButton" type="submit">Comprar</button>
            </form>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>

<script src="/js/cart.js"></script>