<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="\css\styles-productos-destacados.css">    
</head>
<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div>
        </article>
        
        <article class="contenedor">

            <div class="caja">
                <div class="texto">Producto Destacado</div>
                <div><img src="images\sillon1.jpg"  alt="sillon1" ></a></div>
            </div>


            <div class="caja">
                <div class="texto">Producto Destacado</div>
                <div><img src="images\sillon2.jpg" alt="sillon2" ></a></div>
            </div>

        </article>
        </div>
    </main>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>