	
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="\css\styles-register-form.css">
</head>
<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="main-mobile">
            <form action="/api/users/register" method="POST" class="formulario" enctype="multipart/form-data">
                    <h2>Registra tu cuenta</h2>
                    
                    <div class="label">
                        <label class="floatLabel">Nombre de usuario:</label>
                    </div>
                    
                    <input name="username" type="text" placeholder="Ej: Juan123" required minlength="4" class="write-space">
                    
                    <div class="label">
                        <label class="floatLabel">Correo electrónico:</label>
                    </div>
                    
                    <input name="email" type="email" placeholder="Ej: juan10@gmail.com" required minlength="4" class="write-space">
                    
                    <div class="label">
                        <label class="floatLabel">Imagen de perfil:</label>
                    </div>
      
                    <input name="image" type="file" placeholder="Imagen" class="write-space">

                    <div class="label">
                        <label class="floatLabel">Contraseña:</label>
                    </div>
                    
                    <input name="password" type="password" placeholder="No compartir" required minlength="4" class="write-space">

                    <button type="submit" class="boton-registrar"> Registrarse </button>
                    <button type="reset" class="boton-borrar"> Borrar </button>    
                    
                    <p class="registro"> Ya tienes cuenta? <a href="/login">Ingresa aquí</a>                
                    </p>
            </form>
        </div>
    </main>   

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
