<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="\css\styles-products.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/5d251886e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>


    <h3 class="title">Productos encontrados</h3>

    <div class="products-container">

        <div class="products-row">         
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
            <div class="product-card">
                <img src="/images/blackChair.webp" alt="Imagen del producto">
                <div class="main-card">
                    <i class="fas fa-cart-plus"></i>
                    <h4 class="product-name">Nombre del producto</h4>
                    <h4 class="product-price">$0000</h4>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>


</body>

</html>