
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
 }
 
 body {
    background-color:#F5F5F5;
 }
 
 p {
    font-size: 14px;
 }
 
 header {
    background-color: #be8f8f;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid;
 
 }
 
 a .logo {
   width: 100px;
 }

 
 .searcher {
    width: 80%;
    border-radius: 4px;
    font-size: 15px;
 }
 
 .form .submit {
    border-radius: 4px;
    font-size: 15px;
 }
 
 
 .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
 
 }
 
 .top-right-navbar,
 .main-navbar {
    display: none;
 
 }
 
 .main-header-top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
 }
 
 .hamburger-button {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 10px 0px ;
    padding: 10px;
    width: 40px;
 
 }
 
 .shop-cart {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 40px;
    display: none;
 }
 
 .main-navbar li a{
   color: black;
   text-decoration: none;
}

.main-navbar {
   margin: 1% 2% 1% 2%;
}

 /* Fin del header */

 
/* Inicio del main */


.formulario {
   display: flex;
   flex-direction: column;
   margin: auto;
   gap: 15px;
   padding: 15px;
   width: 70%;
   border-radius:3px;
}

.label {
   text-decoration: underline;
}

.write-space {
   padding:3px 10px;
	border:1px solid black;
	border-radius:3px;
	background-color: white;
	margin:8px 0;
}

.buttons {
   display: inline-block;
   background-color: white;
}

.boton-registrar{
   font-weight: bold;
   background-color: #1259c3;
   color: white;
   border-radius:3px;
   border:1px solid #1259c3;
   padding:3px 10px;

}
.boton-registrar:hover{
   background-color: #0022AA;
   cursor: pointer;
}

.boton-borrar{
   font-weight: bold;
   background-color: white;
   color: #1259c3;
   border-radius:3px;
   border:1px solid #1259c3;
   padding:3px 10px;
}
.boton-borrar:hover{
   background-color: #0022AA;
   cursor: pointer
}


main input:focus {
    border-color: orange;
}
main input:disabled {
    background-color: beige;
}

/* Fin del main */

/* inicio del footer */

footer {
    border-top: 1px solid;
    background-color: #be8f8f;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
 }
 
 footer ifoot {
    color:#F5F5F5;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 40px;
 }
 
 .copy {
    margin-top: 25px;
    font-size: 12px;
    color: #666;
    text-align: left;
    padding: 5px;
 }
 
 footer h3 {
    margin-top: 0px;
    margin-bottom: 0px;
 }
 
 .footer-element {
    padding: 2%
 }
 
 .footer-element:hover ifoot {
    color: green
 }
 
 /* fin del footer */ 
 
 
 @media (min-width: 360px) {
    .hamburger-button {
        display: none;
    }
 
    .shop-cart {
        display: inline-block;
        align-self: center;
    }
 
    .main-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        color: black;

    }
 
    .left-navbar,
    .right-navbar {
        display: flex;
        justify-content: space-between;
    }
 
    ul {
        list-style-type: none;
    }
 
 
    .main-navbar li {
        margin: 0 5px;
        font-style: normal;
    }
 
    .main-web {
        display: none;
    }
 }
 
 
 
 @media (min-width: 768px) {
 
 /* Inicio del header */
 
 .logo {
    width: 180px;
 }
 
 .searcher {
    width: 80%;
    border-radius: 4px;
    font-size: 19px;
 }
 
 .form .submit {
    border-radius: 4px;
    font-size: 19px;
 }
 
 /* Fin del header */
 
 
 /* Inicio del main */
 
 /* Fin del main */
 
 
 /* Inicio del footer */
 
    .flex-footer {
        display: flex;
        align-items: center; 
        justify-content: space-around;
        gap: 2%;
        padding: 10px;
    }
 
 /* fin del footer */
 }
 
