* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Helvetica;

}

main {
   background-image: url(../images/png-transparent-white-and-brown-wooden-surface-texture-wood-white-wooden-background-texture-white-photography-grey-thumbnail.png);
   background-repeat: repeat;
   background-position: center;
   background-size: cover;
   background-size: 200px;
}

p {
   font-size: 14px;
}

header {

   width: 100%;
   padding: 10px;
   background: linear-gradient(180deg, #dcdcdc, #dcdcdc, transparent);
}

a .logo {
   width: 100px;
}

.searcher {
   width: 80%;
   border-radius: 0px;
   border-width: 0;
   font-size: 15px;
}

.form .submit {
   border-radius: 0px;
   border-width: 0;
   font-size: 15px;
   margin: -22px;
   background-color: white;
}


.form {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   width: 55%;

}

.user-navbar {
   display: none;

}

.main-header-top-bar {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.user-navbar li a {
   color: black;
   text-decoration: none;
   
}

/* .user-navbar {
   margin: 1% 2% 1% 2%;
} */


.hamburger-button {
   background-color: white;
   border-radius: 5px;
   color: black;
   font-size: 20px;
   height: 40px;
   margin: 10px 0px 10px 0px;
   padding: 10px;
   width: 40px;

}

.shop-cart {
   background-color: white;
   border-radius: 3px;
   color: black;
   font-size: 17px;
   width: 35px;
   height: 35px;
   margin: 5px 0px 5px 0px;
   padding: 8px;

   display: none;
}

/* Fin del header */

@media (min-width: 450px) {
   .form {
      justify-content: center;
   }

   .hamburger-button {
      display: none;
   }

   .shop-cart {
      display: inline-block;
      align-self: center;
   }

   .user-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      color: black
   }

   .searcher {
      width: 80%;
      border-radius: 2px;
      font-size: 20px;
   }

   .form .submit {
      border-radius: 2px;
      font-size: 18px;
   }

   ul {
      list-style-type: none;
   }


   .user-navbar li {
      margin: 0 5px;
   }

   /* Fin del header */
}

@media (min-width: 768px) {

   /* Inicio del header */


   .logo {
      width: 180px;
   }

   .searcher {
      width: 80%;
      border-radius: 2px;
      font-size: 23px;
   }

   .form .submit {
      border-radius: 2px;
      font-size: 20px;
   }

   .form {
      justify-content: center;
   }

   /* Fin del header */
}