*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Helvetica;

}

body {
   background-color:#F5F5F5;
}

p {
   font-size: 14px;
}

header {
   background-color: #be8f8f;
   width: 100%;
   padding: 10px;
   border-bottom: 1px solid;

}

a .logo {
   width: 100px;
}


.searcher {
   width: 80%;
   border-radius: 4px;
   font-size: 15px;
}

.form .submit {
   border-radius: 4px;
   font-size: 15px;
}


.form {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 55%;

}

.top-right-navbar,
.main-navbar {
   display: none;
}

.main-header-top-bar {
   display: flex;
   justify-content: space-around;
   align-items: center;  
}

.main-navbar li a{
   color: black;
   text-decoration: none;
}

.main-navbar {
   margin: 1% 2% 1% 2%;
}


.hamburger-button {
   background-color: white;
   border-radius: 5px;
   color: black;
   font-size: 20px;
   height: 40px;
   margin: 10px 0px 10px 0px ;
   padding: 10px;
   width: 40px;

}

.shop-cart {
   background-color: white;
   border-radius: 5px;
   color: black;
   font-size: 20px;
   height: 40px;
   margin: 10px 0px 10px 0px;
   padding: 10px;
   width: 40px;
   display: none;
}

/* Fin del header */

@media (min-width: 360px) {
   .hamburger-button {
       display: none;
   }

   .shop-cart {
       display: inline-block;
       align-self: center;
   }

   .main-navbar {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px;
       color: black
   }

   .left-navbar,
   .right-navbar {
       display: flex;
       justify-content: space-between;

   }

   ul {
       list-style-type: none;
   }


   .main-navbar li {
       margin: 0 5px;
       font-style: normal;
   }

    /* Fin del header */
}

@media (min-width: 768px) {

   /* Inicio del header */
   
   .logo {
      width: 180px;
   }
   
   .searcher {
      width: 80%;
      border-radius: 4px;
      font-size: 19px;
   }
   
   .form .submit {
      border-radius: 4px;
      font-size: 19px;
   }
   
   /* Fin del header */
}