    body {
        background-image: url(../images/png-transparent-white-and-brown-wooden-surface-texture-wood-white-wooden-background-texture-white-photography-grey-thumbnail.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        background-size: 200px;
    }


    .contenedor1{
        text-align: center;
        width: 90%;
        box-sizing: border-box;
        padding: 1em;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        box-sizing: border-box;
    }

    .contenedor2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 95vw; 
        box-sizing: border-box; 
    }

    .contenedor2 #presentacion{
    width: 95vw;
    box-shadow: 0px 0px 9px rgb(100, 100, 100); 
    cursor: pointer;
   
    }
    
    .contenedor3{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    .contenedor3 .product {
        box-shadow: 0px 0px 9px rgb(100, 100, 100);
        margin: 0px 3px 0px 3px;
        background-color: white;
        width: 41vw;
    }

    #presentacion{
        text-align: center;
        padding: 0.5em;
        border-radius: 0.5em;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #f5f5f5;
    }

    .caja{
        position: relative;
        text-align: center;
        box-sizing: border-box;
    }

    .texto{
        font-family: 'Helvetica';
        text-decoration: dashed, underline;
        position: absolute; 
        -webkit-text-stroke: 4% black;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 28px;
        font-weight: bold;
        color:black;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        box-sizing: border-box;
        cursor: pointer;

    }
    #carrusel {
        float:left;
        width:95vw;
        overflow:hidden;
        height:203px;
        position:relative;
        margin-top:20px;
        margin-bottom:20px;
        border: solid 5px #f5f5f5;
        box-sizing: border-box;
        box-shadow: 0px 0px 9px rgb(100, 100, 100);
        border-radius: 5px;
        max-width: 1000px;
    }
    
    #carrusel .left-arrow {
        position:absolute;
        left:10px;
        z-index:1;
        top:50%;
        margin-top:-9px;
        box-sizing: border-box;
    }
    
    #carrusel .right-arrow {
        position:absolute;
        right:10px;
        z-index:1;
        top:50%;
        margin-top:-9px;
        box-sizing: border-box;
    }
    
    .carrusel {
        width: 4000px; 
        left:4px; 
        right:4px;
        position: absolute; 
        top:4px;
        z-index:0;
        box-sizing: border-box;
        background-color: #f5f5f5;
    }
    
    .carrusel>div {
        float: left;
        font-family: Helvetica;
        height: 185px;
        width: 170px;
        text-align:center;  
        box-sizing: border-box;
    }
    
    .carrusel img {
        cursor:pointer;
        width: 100%;
        box-sizing: border-box;
    }
    
    .product {
        border:#cccccc79 1px solid; 
        box-sizing: border-box;
    }

    .productText {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 12px;
    }

    /* comienzo del editar */

    /* .mainEditar{
        text-align: center;

    }

    .login{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: auto;
        padding: 20px;
        width: 70%;
    }
    .borde{
        padding:3px 10px;
        border:1px solid black;
        border-radius:3px;
        background-color: white;
        margin:8px 0;
    }
    .boton-entrar{
        font-weight: bold;
        background-color: #1259c3;
        color: white;
        border-radius:3px;
        border:1px solid #1259c3;
        padding:3px 10px;
    }
    .boton-entrar:hover{
        background-color: #0022AA;
        cursor: pointer
    } */
    
    /* fin del editar */


/* Fin del main */


 @media (min-width: 360px) {

    /* Inicio el main */

    .contenedor3 .product {
        width: 140px;
    }

    /* Fin del main */

}

 @media (min-width: 768px) {
  
    .contenedor2 .caja #presentacion{
        width: 80vw;
        max-width: 1000px;
        height: 340px;
    }
  
    .contenedor3 {
        width: 80vw; 
    }
  
    /* Fin del main */
}
    