<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>DecoHogarHome</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script>
        var current = 0;
        var imagenes = new Array();
    
        $(document).ready(function() {
        var numImages = 6;
        if (numImages <= 3) {
            $('.right-arrow').css('display', 'none');
            $('.left-arrow').css('display', 'none');
        }
    
        $('.left-arrow').on('click',function() {
            if (current > 0) {
                current = current - 1;
            } else {
                current = numImages - 3;
            }
    
            $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
    
            return false;
        });
    
        $('.left-arrow').on('hover', function() {
            $(this).css('opacity','0.5');
        }, function() {
            $(this).css('opacity','1');
        });
    
        $('.right-arrow').on('hover', function() {
            $(this).css('opacity','0.5');
        }, function() {
            $(this).css('opacity','1');
        });
    
        $('.right-arrow').on('click', function() {
            if (numImages > current + 3) {
                current = current+1;
            } else {
                current = 0;
            }
    
            $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
    
            return false;
        }); 
    });
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="\css\styles-home.css">
        
</head>
<body>

    <header class="main-header">
            
        <div class="main-header-top-bar">
            
            <a href="/"> <img src="images/logoDH.png" class="logo"> </a>
           
            <div class="form" action="#" method="GET">
                <input class="searcher" placeholder=" Buscardor..."/>
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
            
            <div class="mobile-header">
                <a href="#" class="hamburger-button">
                    <i class="fas fa-bars"></i>
                </a>   
  
                <a href="/productCart" class="shop-cart">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
  
        </div> 
  
        <div class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Categorias</a></li>    
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate</a></li>    
            </ul>
        </div>
  
    </header>
  
    <main class="contenedor1">
            
            <article class="contenedor3">

                <div id="carrusel">
                    <a href="#" class="left-arrow"><img src="images/left-arrow.png" /></a>
                    <a href="#" class="right-arrow"><img src="images/right-arrow.png" /></a>
                    <div class="carrusel">
                        <div class="product" id="product_0">
                            <img src="images\silla-carrusel.jpg" width="195" height="100" />
                            <h5>Silla Eames Blanca</h5>
                            <p>$6000</p>
                        </div>
                        <div class="product" id="product_1">
                            <img src="images\mesa-ratona.jpg" width="195" height="100" />
                            <h5>Mesa ratona de Madera</h5>
                            <p>$20000</p>
                        </div>
                        <div class="product" id="product_2">
                            <img src="images\sillon-carrusel.jpg" width="195" height="100" />
                            <h5>Sillon gris- 2 plazas</h5>
                            <p>$40000</p>
                        </div>
                        <div class="product" id="product_3">
                            <img src="images\mesa-comedor.jpg" width="195" height="100" />
                            <h5>Mesa Comedor de Madera</h5>
                            <p>$28000</p>
                        </div>
                        <div class="product" id="product_4">
                            <img src="images\escritorio-platinum.jpg" width="195" height="100" />
                            <h5>Escritorio Platinum</h5>
                            <p>$19000</p>
                        </div>
                        <div class="product" id="product_5">
                            <img src="images\cama-2-plazas.jpeg" width="195" height="100" />
                            <h5>Cama Dulces Sueños- 2 plazas </h5>
                            <p>$70000</p>
                        </div>
                    </div>             
                </div> 

            </article>
        
            <article class="contenedor2">

                <div class="caja">
                    <div class="texto">Productos Destacados</div>
                    <div><a href="views/productos-destacados.html"><img id="presentacion" src="images\productos-destacados.jpeg"  alt="Productos Destacados" ></a></div>
                </div>


                <div class="caja">
                    <div class="texto">OFERTAS</div>
                    <div><a href="views/ofertas.html"><img id="presentacion"  src="images\ofertas.jpg" alt="OFERTAS" ></a></div>
                </div>

                    
                <div class="caja">
                    <div class="texto">Nuevos Ingresos</div>
                    <div><a href="views/nuevos-ingresos.html"><img id="presentacion" src="images\nuevos-ingresos.jpg" alt="Nuevos Ingresos" ></a></div>
                </div>

            </article>
    </main>

    <footer>
        <div class="flex-footer">
            <section class="footer-element">
                <ifoot class="fas fa-credit-card"></ifoot>
            
                <h3>Pagá con tarjeta o en efectivo</h3>
            
                <p class="textos">
                    Con Deco House Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
     
            <section class="footer-element">
                <ifoot class="fas fa-gift"></ifoot>
                
                <h3>Envío gratis desde $ 2.500</h3>
            
                <p class="textos">
                    Solo por estar registrad@ en Deco House tenés envíos gratis en miles deproductos. 
                </p>
            </section>
     
            <section class="footer-element">
                <ifoot class="fas fa-user-shield"></ifoot>
            
                <h3>Seguridad, de principio a fin</h3>
            
                <p class="textos">
                    ¿No te gusta? ¡Devolvelo! En Deco House, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
        </div>
     
        <section>
            <h3 class="copy">Copyright © 1999-2022 Deco House S.R.L.</h3>
        </section>
     
    </footer>


</body>
</html>