<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/11710f313b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylesProductDetail.css">
</head>
<body>
    <header class="main-header">
            
        <div class="main-header-top-bar">
            
            <a href="/"> <img src="images/logoDH.png" class="logo"> </a>
           
            <div class="form" action="#" method="GET">
                <input class="searcher" placeholder=" Buscardor..."/>
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
            
            <div class="mobile-header">
                <a href="#" class="hamburger-button">
                    <i class="fas fa-bars"></i>
                </a>   

                <a href="/productCart" class="shop-cart">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>

        </div> 

        <div class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Categorias</a></li>    
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate</a></li>    
            </ul>
        </div>

    </header>
    
    <main>
        <div class="main-mobile"> 
            <div class="product">

                <div class="top-img"> 
                    <h2 class="product-name">Nombre</h2>
                    <p class="product-description"> Alto Ancho Profundidad Color</p>
                </div>

                <img src="images/sillaSprint2.jpg" alt="producto a mostrar">

                <div class="bottom-img">
                    <h3 class="product-price">Precio total</h3>
                    <h4 class="product-cuotas">Precio en X cuotas</h4>
                    <p class="product-payment-options">Ver medios de pago</p>
                </div>

            </div>

            <div class="bottom-buttons">
                <div class="cantidad" action="#" method="GET">
                    <input class="cuantity" placeholder=" Cantidad"/>
                    <button type="submit">Aplicar </button> 
                    <button type="reset">Cancelar </button>
                </div>

                <button type="submit" class="buy-now">Comprar ahora</button>

                <button type="idk" class="add-to-cart">Añadir al carrito</button>
            
            </div>
        </div>   

        <div class="main-web">
            <div class="flexbox-producto">
                <div class="left-miniaturas">
                    <h4> Fotos del producto </h4>
                    <img src="images/sillaSprint2.jpg" alt="miniatura" class="min-img">
                    <img src="images/sillaSprint2.jpg" alt="miniatura" class="min-img">
                    <img src="images/sillaSprint2.jpg" alt="miniatura" class="min-img">
                    <img src="images/sillaSprint2.jpg" alt="miniatura" class="min-img">
                </div>

                <div class="center-img">
                    <img src="images/sillaSprint2.jpg" alt="producto a mostrar">
                </div>

                <div class="rigth-info">
                    <h5> Nombre del producto </h5>
                    <h6> Precio total </h6>
                    <a href="#"> Ver medios de pago </a>
                    <div class="seguro">
                        <label>Seleccione tipo de seguro:</label>
                        <select name="seguro">
                            <option value="none">Ninguno</option>
                            <option value="accident">Seguro por accidente</option>
                            <option value="steal">Seguro por accidente y/o robo</option>
                        </select>
                    </div>      
                    <div class="rigth-buttons">
                        <button>Comprar ahora</button>
                        <button>Añadir al carrito</button>
                    </div>     
                </div>
            </div>

            <div class="flexbox-descripcion-producto">
                <h3>Nombre del producto</h3>
                <h4>Color:</h4>
                <h4>Altura:</h4>
                <h4>Ancho:</h4>
                <h4>Profundidad:</h4>
                <h4>Material:</h4>
                <h4>Garantía:</h4>
            </div>
        </div>





    </main>

    <footer>
        <div class="flex-footer">
            <section class="footer-element">
                <ifoot class="fas fa-credit-card"></ifoot>
            
                <h3>Pagá con tarjeta o en efectivo</h3>
            
                <p class="textos">
                    Con Deco House Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>

            <section class="footer-element">
                <ifoot class="fas fa-gift"></ifoot>
                
                <h3>Envío gratis desde $ 2.500</h3>
            
                <p class="textos">
                    Solo por estar registrad@ en Deco House tenés envíos gratis en miles deproductos. 
                </p>
            </section>

            <section class="footer-element">
                <ifoot class="fas fa-user-shield"></ifoot>
            
                <h3>Seguridad, de principio a fin</h3>
            
                <p class="textos">
                    ¿No te gusta? ¡Devolvelo! En Deco House, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
        </div>

        <section>
            <h3 class="copy">Copyright © 1999-2022 Deco House S.R.L.</h3>
        </section>

    </footer>

</body>
</html>