<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Hogar</title>
    <link rel="stylesheet" href="/css/stylesCarrito.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
            
        <div class="main-header-top-bar">
            
            <a href="/"> <img src="images/logoDH.png" class="logo"> </a>
           
            <div class="form" action="#" method="GET">
                <input class="searcher" placeholder=" Buscardor..."/>
                <button class="submit"><i class="fa fa-search"></i></button>
            </div>
            
            <div class="mobile-header">
                <a href="#" class="hamburger-button">
                    <i class="fas fa-bars"></i>
                </a>   
  
                <a href="/productCart" class="shop-cart">
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
  
        </div> 
  
        <div class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Categorias</a></li>    
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul class="right-navbar">
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate</a></li>    
            </ul>
        </div>
  
    </header>

    <main>
        <h2>Carrito</h2>
        <div class="items">
            <section class="descripciones">
                <img src="images/sillaSprint2.jpg" alt="">
                <div class="datos">
                    <p>Nombre</p>
                    <p>Descripción</p>
                    <p>$1234</p>
                    
                    <div class="botones-selector">
                        <p>Cant: 1 <i class="fas fa-angle-down"></i></p>
                        <button>Eliminar</button> 
                        <button>Comprar Ahora</button>  
                    </div>       
                </div>
            </section>
            <section class="descripciones">
                <img src="images/sillaSprint2.jpg" alt="">
                <div class="datos">
                    <p>Nombre</p>
                    <p>Descripción</p>
                    <p>$1234</p>

                    <div class="botones-selector">
                        <p>Cant: 1 <i class="fas fa-angle-down"></i></p>
                        <button>Eliminar</button> 
                        <button>Comprar Ahora</button>
                    </div>    
                </div>
            </section>
            <section class="descripciones">
                <img src="images/sillaSprint2.jpg" alt="">
                <div class="datos">
                    <p>Nombre</p>
                    <p>Descripción</p>
                    <p>$1234</p>

                    <div class="botones-selector">
                        <p>Cant: 1 <i class="fas fa-angle-down"></i></p>
                        <button>Eliminar</button> 
                        <button>Comprar Ahora</button>
                    </div>
                </div>
            </section>
        </div> 
        <h3>Vaciar Carrito</h3>
    </main>

    <footer>
        <div class="flex-footer">
            <section class="footer-element">
                <ifoot class="fas fa-credit-card"></ifoot>
            
                <h3>Pagá con tarjeta o en efectivo</h3>
            
                <p class="textos">
                    Con Deco House Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
     
            <section class="footer-element">
                <ifoot class="fas fa-gift"></ifoot>
                
                <h3>Envío gratis desde $ 2.500</h3>
            
                <p class="textos">
                    Solo por estar registrad@ en Deco House tenés envíos gratis en miles deproductos. 
                </p>
            </section>
     
            <section class="footer-element">
                <ifoot class="fas fa-user-shield"></ifoot>
            
                <h3>Seguridad, de principio a fin</h3>
            
                <p class="textos">
                    ¿No te gusta? ¡Devolvelo! En Deco House, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
        </div>
     
        <section>
            <h3 class="copy">Copyright © 1999-2022 Deco House S.R.L.</h3>
        </section>
     
    </footer>
</body>
</html>
