.header-container{
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    width: 300px;
}

.nav-item{
    margin: 0 10px;
    font-weight: bold;
}