.header-container{
    height: 100px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    font-size: 30px;
}

.nav-item{
    margin: 0 10px;
    font-weight: bold;
}